snippet tgt	
this.get('${1:text}')
endsnippet

snippet tst
this.set('${1:text}', ${2:val})
endsnippet

snippet ost
${1:obj}.set('${3:text}', ${2:val})
endsnippet

snippet ogt
${1:obj}.get('${3:text}')
endsnippet

snippet clg2
console.log('${1:text}', ${2:val})
endsnippet

snippet clg
console.log(${2:val})
endsnippet

snippet super
this._super(...arguments)
endsnippet
