snippet zend_log
Zend_Registry::get('log')->log(${1:text}, Zend_Log::DEBUG);
endsnippet
snippet ppl
_ppl(${1:val});
endsnippet
snippet author
@author Jonas Cosandey <jonas.cosandey@adfinis-sygroup.ch>
endsnippet
